<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <h2 class="form-header">Your favorites!</h2>
        <div class="grid-container">
          <div class="item-card" *ngFor="let item of favorites">
            <button class="favorite-btn" (click)="toggleFavorite(item); $event.stopPropagation()">
              <ion-icon [name]="item.favorite ? 'heart' : 'heart-outline'"></ion-icon>
            </button>
            <img [src]="item.image" class="item-image" (click)="openItem(item)" />
            <div class="item-name">{{ item.name }}</div>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-md="6">
        <h2 class="form-header">Sell an item:</h2>
        <form>
          <ion-item>
            <ion-label class="form-label" position="fixed">Item Name:</ion-label>
            <ion-input [(ngModel)]="title" name="title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-label" position="fixed">Listing Price:</ion-label>
            <ion-input type="number" [(ngModel)]="price" name="price" min="0" step="0.01">
              <span slot="start">$</span> <!-- starts w/ a dollar sign -->
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-label" position="fixed">Location:</ion-label>
            <ion-input [(ngModel)]="location" name="location"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-label" position="fixed">Email:</ion-label>
            <ion-input [(ngModel)]="contact" name="contact"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-label" position="floating">Item Details:</ion-label>
            <ion-textarea [(ngModel)]="details" name="details"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label class="form-label">Please upload an image of your item:</ion-label>
            <input type="file" (change)="onFileSelected($event)" />
          </ion-item>

          <ion-item *ngIf="imagePreview">
            <img [src]="imagePreview" />
          </ion-item>

          <ion-button expand="full" color="primary" (click)="addItem()">
            List item!
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>