<ion-header>
  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleFavorite()">
            <ion-icon 
            [name]="item.favorite ? 'heart' : 'heart-outline'" style="font-size: 24px;">
            </ion-icon>
        </ion-button>
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img [src]="item.image"></ion-img>
  <h2>{{ item.name }}</h2>
  <p><strong>Price:</strong> {{ item.price }}</p>
  <p><strong>Location:</strong> {{ item.location }}</p>
  <p><strong>Contact:</strong> {{ item.contact }}</p>
  <p><strong>Details:</strong> {{ item.details }}</p>
</ion-content>
